.sellerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  /* max-height: 90vh; */
  background-image: url("../images/Vector.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: 250px 350px;
}
.bestSeller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.products {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#bestSellerHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 573px;
  height: 57px;
  left: 94px;
  top: 2633px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 107.9%;
  /* or 54px */

  letter-spacing: 0.01em;

  color: #000000;
}
