.intro-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  flex-wrap: wrap-reverse;
}
.image-cont {
  max-width: 45%;
  background-image: url("../images/Blob.png");
  background-size: 380px;
  background-repeat: no-repeat;
  background-position: 0px center;
  display: flex;
  align-items: flex-start;
}
.image-cont img {
  width: 80%;
  max-height: 80%;
  /* margin: 30px 20px 30px 20px; */
  margin-top: 150px;
}
.heading-cont {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: end; */
}

.heading-cont h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  text-align: end;
  padding: 0px 50px 0px 50px;
}
.heading-cont p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding: 20px 50px 5px 150px;
  /* text-align: end; */
  /* or 22px */

  color: #5f5f5f;
}

@media (max-width: 998px) {
  .image-cont {
    background-size: 280px;
  }
  .heading-cont h1 {
    font-size: 45px;
  }
  .heading-cont p {
    font-size: 15px;
  }
  .heading-con {
    width: 50%;
  }
}
@media (max-width: 798px) {
  .image-cont {
    background-size: 240px;
  }
  .heading-cont h1 {
    font-size: 35px;
  }
  .heading-cont p {
    font-size: 14px;
  }
  .image-cont img {
    max-width: 70%;
    max-height: 70%;
    /* margin: 30px 20px 30px 20px; */
    margin-top: 150px;
  }
}

@media (max-width: 700px) {
  .intro-cont {
    /* flex-direction: column !important; */
    margin-top: 10rem;
  }
  .image-cont {
    max-width: 100% !important;
    /* background-size: 100% 100%; */
    background-size: 100% 100%;
    border: 2px solid black;
  }
  .image-cont img {
    max-width: 600px !important;
    height: 300px !important;
  }
  .heading-cont {
    max-width: 100% !important;
    margin-top: 30px;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 5rem;
  }
  .heading-cont h1 {
    font-size: 35px;
    text-align: center;
  }
  .heading-cont p {
    font-size: 13px;
    padding: 0px;
    width: 70%;
    margin: 40px;
    text-align: center;
  }
}
